// AUTHENTIC Family Font Import 

@font-face {
  font-family: 'Signifier';
  src: url('../fonts/Signifier/Signifier-Light.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Signifier';
  src: url('../fonts/Signifier/Signifier-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Signifier';
  src: url('../fonts/Signifier/Signifier-Regular.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Signifier';
  src: url('../fonts/Signifier/Signifier-RegularItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: 'Signifier';
  src: url('../fonts/Signifier/Signifier-BoldItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Signifier';
  src: url('../fonts/Signifier/Signifier-Bold.otf') format('opentype');
  font-weight: 900;
}

// AUTHENTIC Family Font Import 

@font-face {
    font-family: 'Authentic';
    src: url('../fonts/AUTHENTIC/AUTHENTICSans-Condensed-60.otf') format('opentype');
    font-weight: 300;
  }

  @font-face {
    font-family: 'Authentic';
    src: url('../fonts/AUTHENTIC/AUTHENTICSans-Condensed-90.otf') format('opentype');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Authentic';
    src: url('../fonts/AUTHENTIC/AUTHENTICSans-Condensed-130.otf') format('opentype');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Authentic';
    src: url('../fonts/AUTHENTIC/AUTHENTICSans-Condensed-150.otf') format('opentype');
    font-weight: 900;
  }