@import 'fonts.scss';
@import 'colors.scss';
@import 'margins-and-paddings.scss';
@import 'sizes.scss';

body {
    font-family: "Signifier";
    cursor: none;

}

.custom-cursor {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: $black;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
  }

  .hover {
    width: 1.5rem;
    height: 1.5em;
    // mix-blend-mode: color-burn;
    // mix-blend-mode: hard-light;
    mix-blend-mode: exclusion;

  }

.el-with-border {
    border-color: black;
}

a {
    cursor: none;
}